
<div class="container">
    <header id="main-header">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <img src="assets/portfolio_pic.jpg" alt="">
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-dark text-white">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <h1 class="display-4">Marcin Balejko</h1>
                <div class="d-none d-md-block">
                  <a href="https://www.instagram.com/marcinbalejko/" class="text-white">
                    <i class="fab fa-instagram"></i>
                  </a>
                </div>
                <div>
                  <a href="https://www.facebook.com/marcin.balejko" class="text-white">
                    <i class="fab fa-facebook"></i>
                  </a>
                </div>
                <div>
                  <a href="https://www.codewars.com/users/MarcinBalejko" class="text-white">
                    <span class="iconify" data-icon="simple-icons:codewars" data-inline="false"></span>
                  </a>
                </div>
                <div>
                  <a href="https://github.com/MarcinBalejko" class="text-white">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="p-4 bg-black">
              Junior Developer looking for new challenges
            </div>

            <div>
              <div class="d-flex flex-row text-white align-items-stretch text-center">
                <div class="port-item p-4 p-lg-5 bg-primary" data-toggle="collapse" data-target="#home">
                  <i class="fas fa-home fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Home</span>
                </div>
                <div class="port-item p-4 p-lg-5 bg-success" data-toggle="collapse" data-target="#resume">
                  <i class="fas fa-graduation-cap fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Resume</span>
                </div>
                <div class="port-item p-4 p-lg-5 bg-warning" data-toggle="collapse" data-target="#work">
                  <i class="fas fa-folder-open fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Work</span>
                </div>
                <div class="port-item p-4 p-lg-5 bg-danger" data-toggle="collapse" data-target="#contact">
                  <i class="fas fa-envelope fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Contact</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- HOME -->
    <div id="home" class="collapse show">
      <div class="card card-body bg-primary text-white py-5">
        <h2>Welcome To My Page</h2>
        <p class="lead">
          Here you can find my portfolio as well as contact information.
        </p>
      </div>
      <div class="card card-body py-5">
        <h3>My Skills</h3>
        <p>Below you can check the list of technologies that I have been using.
        </p>
        <hr>
        <h4>HTML 5</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>CSS 3</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Ruby</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:90%"></div>
        </div>
        <h4>Ruby on Rails</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:90%"></div>
        </div>
        <h4>JavaScript</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:60%"></div>
        </div>
      </div>
    </div>

    <!-- RESUME -->
    <div id="resume" class="collapse">
      <div class="card card-body bg-success text-white py-5">
        <h2>My Resume</h2>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, consequatur.
        </p>
      </div>

      <div class="card card-body py-5">
        <h3>My Education</h3>
        <p>Below you can find the basic information about my educational background.</p>
        <div class="card-deck">

          <div class="card">
            <div class="card-body">
              <h4 class="class-title">University of Silesia (US) </h4>
              <p class="card-text"> Katowice, Poland</p>
              <p class="p-2 mb-3 bg-dark text-white">
                Major: English Philology, Polish-English-Chinese Translation and interpreting specialization (Bachelor's Degree)
              </p>
              <p class="p-2 mb-3 bg-dark text-white">
                Contact: <a href="http://english.us.edu.pl/" class="text-white">http://english.us.edu.pl/</a>
              </p>
            </div>
            <div class="card-footer">
              <h6 class="text-muted">Dates: (2012.10 to 2016.06) </h6>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="class-title">Northeastern University (NEU)</h4>
              <p class="card-text">Shenyang, China</p>
              <p class="p-2 mb-3 bg-dark text-white">
                Major: Chinese studies (One-year Scholarship) 
              </p>
              <p class="p-2 mb-3 bg-dark text-white">
                Contact: <a href="http://english.neu.edu.cn/" class="text-white">http://english.neu.edu.cn/ </a> 
              </p>
            </div>
            <div class="card-footer">
              <h6 class="text-muted">Dates: (2014.09 to 2015.07)</h6>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="class-title">Tianjin Foreign Studies University (TFSU)</h4>
              <p class="card-text">Tianjin, China</p>
              <p class="p-2 mb-3 bg-dark text-white">
                Major: Teaching Chinese to Speakers of Other Languages (Master's Degree) 
              </p>
              <p class="p-2 mb-3 bg-dark text-white">
                Contact: <a href="http://www.tjfsu.edu.cn/" class="text-white">http://www.tjfsu.edu.cn/ </a>
              </p>
            </div>
            <div class="card-footer">
              <h6 class="text-muted">Dates: (2016.09 to 2019.06)</h6>
            </div>
          </div>



        </div>
      </div>
    </div>

    <!-- WORK -->

    <div id="work" class="collapse">
      <div class="card card-body bg-warning text-white py-5">
        <h2>My Work</h2>
        <p class="lead">In this section you can view the samples of my projects.</p>
      </div>
      <div class="card card-body py-5">
        <h3>What Have I Built?</h3>
        <p>The list below contains images of all the application projects that I have made.
        Each of the projects has been provided with its github or heroku links which can be accessed by clicking on their icons.
        
        </p>


        <p class="h3 bg-dark text-white p-2 ">
        Chitter
        <a href="https://github.com/MarcinBalejko/chitter-challenge" class="text-white" target="_blank">
          <i id="icon-github" class="fab fa-github float-right"></i>
        </a>
        </p>
        <div class="row no-gutters">
          <div class="col-md-3">
            <a href="assets/chitter-pics/1.1.png" data-toggle="lightbox">
              <img src="assets/chitter-pics/1.1.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/chitter-pics/1.3.png" data-toggle="lightbox">
              <img src="assets/chitter-pics/1.3.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/chitter-pics/1.7.png" data-toggle="lightbox">
              <img src="assets/chitter-pics/1.7.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/chitter-pics/1.8.png" data-toggle="lightbox">
              <img src="assets/chitter-pics/1.8.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-3">
            <a href="assets/chitter-pics/1.9.png" data-toggle="lightbox">
              <img src="assets/chitter-pics/1.9.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/chitter-pics/1.10.png" data-toggle="lightbox">
              <img src="assets/chitter-pics/1.10.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/chitter-pics/1.11.png" data-toggle="lightbox">
              <img src="assets/chitter-pics/1.11.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/chitter-pics/1.12.png" data-toggle="lightbox">
              <img src="assets/chitter-pics/1.12.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>


        <br>
        <p class="h3 bg-dark text-white p-2 ">
        Rock Paper Scissors
        <a href="https://rpschallenge.herokuapp.com/" class="text-white" target="_blank">
        <span id="icon-heroku" class="iconify float-right" data-icon="simple-icons:heroku" data-inline="false"></span>
        </a>
        <a href="https://github.com/MarcinBalejko/rps-challenge" class="text-white" target="_blank">
          <i id="icon-github" class="fab fa-github float-right"></i>
        </a>
        </p>
        <div class="row">
          <div class="col-md-3">
            <a href="assets/rps-pics/1.png" data-toggle="lightbox">
              <img src="assets/rps-pics/1.png" alt="" class="img-fluid border">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/rps-pics/2.png" data-toggle="lightbox">
              <img src="assets/rps-pics/2.png" alt="" class="img-fluid border">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/rps-pics/3.png" data-toggle="lightbox">
              <img src="assets/rps-pics/3.png" alt="" class="img-fluid border">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/rps-pics/4.png" data-toggle="lightbox">
              <img src="assets/rps-pics/4.png" alt="" class="img-fluid border">
            </a>
          </div>
        </div>


        <br>
        <p class="h3 bg-dark text-white p-2 ">
        Bookmark Manager
        <a href="https://github.com/MarcinBalejko/bookmark_manager_challenge" class="text-white" target="_blank">
          <i id="icon-github" class="fab fa-github float-right"></i>
        </a>
        </p>
        <div class="row no-gutters">
          <div class="col-md-3">
            <a href="assets/bookmark-pics/1.png" data-toggle="lightbox">
              <img src="assets/bookmark-pics/1.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/bookmark-pics/2.png" data-toggle="lightbox">
              <img src="assets/bookmark-pics/2.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/bookmark-pics/3.png" data-toggle="lightbox">
              <img src="assets/bookmark-pics/3.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/bookmark-pics/4.png" data-toggle="lightbox">
              <img src="assets/bookmark-pics/4.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-3">
            <a href="assets/bookmark-pics/5.png" data-toggle="lightbox">
              <img src="assets/bookmark-pics/5.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/bookmark-pics/6.png" data-toggle="lightbox">
              <img src="assets/bookmark-pics/6.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/bookmark-pics/7.png" data-toggle="lightbox">
              <img src="assets/bookmark-pics/7.png" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/bookmark-pics/8.png" data-toggle="lightbox">
              <img src="assets/bookmark-pics/8.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>


        <br>
        <p class="h3 bg-dark text-white p-2 ">
        Epic Battle
        <a href="https://epic-battle-family-guy.herokuapp.com/" class="text-white" target="_blank">
        <span id="icon-heroku" class="iconify float-right" data-icon="simple-icons:heroku" data-inline="false"></span>
        </a>
        <a href="https://github.com/MarcinBalejko/epic_battle_challenge" class="text-white" target="_blank">
          <i id="icon-github" class="fab fa-github float-right"></i>
        </a>
        </p>
        <div class="row ">
          <div class="col-md-3">
            <a href="assets/epic-pics/1.png" data-toggle="lightbox">
              <img src="assets/epic-pics/1.png" alt="" class="img-fluid border ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/epic-pics/2.png" data-toggle="lightbox">
              <img src="assets/epic-pics/2.png" alt="" class="img-fluid border ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/epic-pics/3.png" data-toggle="lightbox">
              <img src="assets/epic-pics/3.png" alt="" class="img-fluid border ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/epic-pics/6.png" data-toggle="lightbox">
              <img src="assets/epic-pics/6.png" alt="" class="img-fluid border ">
            </a>
          </div>
        </div>
        
        <br>
        <div class="row">
          <div class="col-md-3">
            <a href="assets/epic-pics/7.png" data-toggle="lightbox">
              <img src="assets/epic-pics/7.png" alt="" class="img-fluid border ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/epic-pics/8.png" data-toggle="lightbox">
              <img src="assets/epic-pics/8.png" alt="" class="img-fluid border ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/epic-pics/9.png" data-toggle="lightbox">
              <img src="assets/epic-pics/9.png" alt="" class="img-fluid border ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="assets/epic-pics/14.png" data-toggle="lightbox">
              <img src="assets/epic-pics/14.png" alt="" class="img-fluid border ">
            </a>
          </div>
        </div>


        <br>
        <p class="h3 bg-dark">&nbsp;</p>
        



      </div>
    </div>

    <!-- CONTACT -->
    <div id="contact" class="collapse">
      <div class="card card-body bg-danger text-white py-5">
        <h2>Get In Touch</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, voluptatem!</p>
      </div>
      <div class="card card-body py-5">
        <h3>Get In Touch</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, hic!</p>
        <form>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <input type="text" class="form-control bg-dark text-white" placeholder="Name">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <input type="email" class="form-control bg-dark text-white" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fas fa-pencil-alt"></i>
                </span>
              </div>
              <textarea type="text" class="form-control bg-dark text-white" placeholder="Text"></textarea>
            </div>
          </div>
          <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg">
        </form>
      </div>
    </div>

    <!-- FOOTER -->
    <footer id="main-footer" class="p-5 bg-dark text-white">
      <div class="col-md-6">
        <a href="/assets/resume.md" class="btn btn-outline-light" download>
          <i class="fas fa-cloud">
            Download Resume
          </i>
        </a>
      </div>
    </footer>
  </div>